    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn Page</title>
    <link rel="stylesheet" href="../static/images/style.css">
</head>
<body>

    <div class="login-container">
        <form class="form" action="/submit_acc" METHOD="post">
            <div class="container">
                <p class="title">Register to our Market </p>
                <img src="../static/images/Blue_Minimalist_brand_Logo__1_-removebg-preview.png" alt="">
            </div>
                <p class="message">Signup now and get full access to our Market and Basket </p>
                <div class="flex">
                <label>
                    <input required="" placeholder="" type="text" class="input" name="firstname">
                    <span>Firstname</span>
                </label>

                <label>
                    <input required="" placeholder="" type="text" class="input" name="lastname">
                    <span>Lastname</span>
                </label>
            </div>

            <label>
                <input required="" placeholder="" type="number" class="input2" name="customer_id">
                <span>ID</span>
            </label>

            <label>
                <input required="" placeholder="" type="number" class="input2" name="customer_phone">
                <span>Phone Number</span>
            </label>

            <label>
                <input required="" placeholder="" type="date" class="input2" id="dateInput" name="customer_birth_date">
                <span>Birthdate</span>
            </label>
            <label>
                <input required="" placeholder="" type="email" class="input2" id="dataInput" name="User_Email">
                <span>Email</span>
            </label>
            <label>
                <input required="" placeholder="" type="text" class="input2" id="dataInput2" name="User_Address">
                <span>Home Address</span>
            </label>

            <div class="btn">
                <button class="submit">Submit</button>
            </div>
            <p class="signin">Already have an account ? <a href="/login">Login</a> </p>
        </form>
    </div>
</body>
</html>